img{width: 100%;}
img{
    width: 100%;
    display: block;
}
.intro_pg{
    position: absolute;
    top: 0%;
    left: 10%;
    right: 10%;
    text-align: center;
    font-size: 2.5em;
    color: black;
    font-weight: 900;
    font-family: "Arial Black";
}